.product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .productImg {
    height: 180px;
    background-color: #f2f2f2;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.productImg img{
  display: block;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
  
  .product h2 {
    font-size: 15px;
    margin-top: 9px;
    margin-bottom: 12px;
  }
  
  .product h3 {
    font-size: 13px;
  }

  .addToCart{
    color: white
  }